[submodule "deps/sol2"]
	path = deps/sol2
	url = https://github.com/ThePhD/sol2
[submodule "deps/IconFontCppHeaders"]
	path = deps/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "deps/filesystem"]
	path = deps/filesystem
	url = https://github.com/wjakob/filesystem
